* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
#loader {
  height: 100%;
  width: 100%;
  background-color: #000;
  position: fixed;
  z-index: 999;
  top: 0;
  transition: all ease 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loader h1 {
  font-size: 4vw;
  font-weight: 700;
  color: transparent;
  background: linear-gradient(to right, orange, orangered);
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  animation-name: load;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: linear;
}
#loader h1:nth-child(2) {
  animation-delay: 2s;
}
#loader h1:nth-child(3) {
  animation-delay: 3s;
}
@keyframes load {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#main {
  z-index: 11;
  overflow: hidden;
  position: relative;
}

#page1 {
  min-height: 100vh;
  width: 100vw;
  padding: 0 2.5vw;
  background-color: #efeae3;
  position: relative;
}

nav {
  padding: 2vw 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}
nav #menu {
  background-color: #efeae3;
}
#nav2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}
#nav2 h4 {
  color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.143);
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 300;
  position: relative;
  overflow: hidden;
  transition: all ease 0.5s;
}
#nav2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000000;
  left: 0;
  bottom: -100%;
  border-radius: 100%;
  transition: all ease 0.5s;
}
#nav2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}
#nav2 h4 a {
  color: #000000bb;
  text-decoration: none;
  position: relative;
  z-index: 9;
}
#nav2 h4:hover a {
  color: #fff;
}
#menu {
  display: none;
}
#middle {
  height: 65vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #0000003c;
  padding-bottom: 10vh;
}
#left h3 {
  width: 30vw;
  font-size: 2vw;
  font-weight: 700;
  line-height: 2vw;
}
#right h1 {
  font-size: 10vw;
  text-align: right;
  line-height: 8vw;
  font-weight: 700;
}
#page1 video {
  position: relative;
  border-radius: 15px;
  margin-top: 7vh;
  width: 100%;
}
#shape {
  position: absolute;
  width: 46vw;
  height: 60vh;
  right: 0;
  top: 65vh;
}
#shape1 {
  background-color: #fe330a;
  height: 100%;
  width: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(10px);
  position: absolute;
}
#shape2 {
  background: linear-gradient(#fe320a, #f67913);
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  position: absolute;
  animation-name: anime2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  filter: blur(20px);
}

#shape3 {
  background: linear-gradient(#fe320a, #f67913);
  height: 30vw;
  width: 30vw;
  position: absolute;
  border-radius: 50%;
  animation-name: anime1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  filter: blur(20px);
}

@keyframes anime1 {
  from {
    transform: translate(55%, -3%);
  }

  to {
    transform: translate(0%, 10%);
  }
}

@keyframes anime2 {
  from {
    transform: translate(-20%, 20%);
  }

  to {
    transform: translate(0%, 0%);
  }
}
#page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 8vh 0;
  position: relative;
}
#scroller {
  white-space: nowrap;
}
.text {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroller h1 {
  font-size: 8vw;
  display: inline-block;
  font-weight: 700;
}

#dot {
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  display: inline-block;
  background-color: #fe330a;
  margin: 1vh 2vw;
}
@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
#bottom {
  height: 80vh;
  width: 100%;
  padding: 4.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 9;
}
#bottom h1 {
  font-size: 4vw;
  font-weight: 700;
  width: 58%;
  line-height: 4.5vw;
  margin-top: -8vh;
}
#bottom2 {
  width: 25%;
  padding-right: 2vw;
}
#bottom2 img {
  width: 100%;
  border-radius: 7px;
  margin-top: 30vh;
}
#bottom2 p {
  font-weight: 200;
  padding-top: 5vh;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  line-height: 3vh;
}
#page2 #shapeNew {
  height: 32vw;
  width: 32vw;
  background: linear-gradient(to top right, #f92c03, hsl(21, 96%, 50%));
  border-radius: 50%;
  position: absolute;
  top: 55%;
  left: 23%;
  filter: blur(10px);
  animation-name: anime2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes anime2 {
  from {
    filter: blur(20px);
    transform: translate(10%, -10%) skew(8deg);
  }
  to {
    filter: blur(30px);
    transform: translate(-10%, 15%) skew(-12deg);
  }
}
#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
}
#heading {
  display: flex;
  padding-left: 2vw;
  margin-bottom: 7vh;
}
#heading img {
  height: 10px;
  width: 10px;
  margin-top: 5px;
}
#heading h4 {
  font-weight: 200;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 10px;
}
.elem {
  height: 12vh;
  width: 100%;
  padding: 0 2vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #0000003c;
  overflow: hidden;
  z-index: 12;
}
.elem h1 {
  font-size: 3vw;
  position: relative;
  z-index: 9;
  font-weight: 700;
}
.elem2 {
  text-align: right;
  color: rgba(0, 0, 0, 0.7);
  z-index: 9;
}
.elem2 h4 {
  font-weight: 400;
}
.elem2 h5 {
  font-weight: 200;
}
.elem .overlay {
  height: 100%;
  width: 100%;
  background-color: #ff7b00;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all ease 0.25s;
}
.elem:hover .overlay {
  top: 0;
}
#fixed {
  height: 30vw;
  width: 24vw;
  border-radius: 15px;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 20%;
  display: none;
  background-size: cover;
  background-position: center;
}
#page4 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 2vw 2vw;
}
#heading2 {
  height: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.143);
  border-radius: 50px;
}
#heading2 h4 {
  font-weight: 200;
  font-size: 1rem;
}

.box {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
  border-radius: 20px;
  margin: 15vh 0;
}
.boxleft {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0vw 10vw;
  color: white;
  flex-direction: column;
}
.boxleft h1 {
  font-weight: 700;
  font-size: 5vw;
  line-height: 5vw;
  color: #504a45;
  position: relative;
  padding-left: 20px;
  transition: all 1s ease;
  cursor: pointer;
}
.boxleft h1::before {
  content: "";
  border-left: 3px solid #504a45;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.boxleft p {
  margin-top: 50px;
  font-weight: 200;
  transition: all 1s ease;
}
.boxright {
  transition: all 1s ease;
  background-image: url("img1.webp");
  background-size: 120%;
  background-position: center center;
  width: 55%;
  border-radius: 20px;
  animation: moveBackground 4s ease-in-out infinite;
}

@keyframes moveBackground {
  0% {
    background-position-y: 0%;
  }
  50% {
    background-position-y: 10%;
  }
  100% {
    background-position-y: 0%;
  }
}
.boxleft .active {
  color: white;
}

.boxleft .active::before {
  border-left: 3px solid #fe330a;
}
#page5 {
  background-color: #efeae3;
  height: 55vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: -2vh;
}
#page5 #heading,
#page5 .swiper-slide {
  opacity: 0;
  transform: translateY(-60px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

#page5 #heading.show,
#page5 .swiper-slide.show {
  opacity: 1;
  transform: translateY(0);
}

.swiper-wrapper {
  transition: all 1s ease;
  width: 100%;
  height: 70%;
  padding-left: 2vw;
  overflow-x: scroll;
  display: flex;
  position: relative;
}
.swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-slide {
  margin-right: 5vw;
  border-left: 1px solid rgba(0, 0, 0, 0.143);
  padding-left: 2vw;
  height: 65%;
}
.swiper-slide img {
  margin-top: 2vh;
}
.swiper-slide p {
  width: 25vw;
  margin-top: 2vh;
  font-size: 1rem;
  font-weight: 200;
}

#page6 {
  height: 120vh;
  width: 100%;
}
#footer {
  position: fixed;
  z-index: 9;
  height: 100vh;
  width: 100%;
  background-color: #000000;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#topp {
  display: flex;
  gap: 50vw;
  position: absolute;
  top: 20%;
  z-index: 11;
}
#top-left {
  font-size: 2.5vw;
  line-height: 7vh;
}
#top-right {
  font-size: 1rem;
  font-weight: 200;
  line-height: 3vh;
  z-index: 10;
}
#email {
  width: 25vw;
  padding-bottom: 1vw;
  margin-top: 5vh;
  font-size: 1rem;
  font-weight: 100;
  background: transparent;
  border: none;
  border-bottom: 0.8px solid #ffffff;
  color: #fff;
}
input::placeholder {
  color: #fff;
}

#footer h1 {
  color: #efeae3;
  font-size: 20vw;
  font-weight: 700;
  margin-bottom: 5vh;
  margin-top: 40vh;
  border-bottom: 1px solid #504a45;
}
#bottom-most {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15vw;
  position: absolute;
  bottom: 3vh;
}
#bottom-most h5 {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
}
#red-section {
  position: absolute;
  width: 100%;
  height: 25vh;
  background-color: #fe2f0a;
  top: 0;
  z-index: 10;
  filter: blur(10px);
}
#circle1 {
  position: absolute;
  height: 40vh;
  width: 100vw;
  background-color: #fe2f0a;
  z-index: 10;
  top: -3vh;
  left: -15vw;
  rotate: -10deg;
  filter: blur(20px);
  animation-name: anime3;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes anime3 {
  from {
    filter: blur(30px);
    transform: translate(5%, -10%) skew(8deg);
  }
  to {
    filter: blur(50px);
    transform: translate(10%, 10%) skew(-12deg);
  }
}
#circle2 {
  position: absolute;
  height: 50vh;
  width: 100vw;
  background-color: #fe330a;
  z-index: 10;
  top: -3vh;
  right: -25vw;
  rotate: 15deg;
  filter: blur(20px);
  animation-name: anime4;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes anime4 {
  from {
    filter: blur(30px);
    transform: translate(-5%, 10%) skew(0deg);
  }
  to {
    filter: blur(50px);
    transform: translate(-10%, -10%) skew(22deg);
  }
}
#rmenu {
  height: 100vh;
  width: 100%;
  background-color: #0000006f;
  position: fixed;
  z-index: 50;
  top: -100%;
  transition: all ease 0.5s;
}
#rmenu2 {
    height: 50%;
    width: 100%;
    background-color: #efeae3;
    border-radius: 15px;
}
#rmenu2 h1{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 30%;
    padding-right: 5vw;
}
#rmenu2 h1 a{
    color: #000;
    font-size: 3.6rem;
    font-weight: 600;
}
@media (max-width: 600px) {
  #page1 {
    padding: 0 ;
  }
  nav {
    padding: 5vw 5vw;
    background-color: #efeae3;
  }
  nav img {
    scale: 0.8;
    transition: all ease 0.2s;
  }
  #nav2 {
    display: none;
  }
  #menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.143);
    border-radius: 50px;
    padding: 1.5vh 2.5vh;
  }
 #menu ion-icon{
    position: absolute;
    right: 24%;
 }
  #menu h5 {
    font-weight: 200;
    font-size: 1rem;
    padding-left: 4.5vh;
    padding-right: 0.5vh;
  }
  #m{
    transition: all ease 0.2s;
  }
  #cross{
    font-size: 3vh;
    opacity: 0;
    transition: all ease 0.2s;
  }
  #middle {
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 10vh;
  }
  #left h3 {
    width: 30vw;
    font-size: 2vw;
    font-weight: 700;
    line-height: 2vw;
  }
  #right h1 {
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
    font-weight: 700;
  }
  #page1 video {
    position: relative;
    border-radius: 15px;
    margin-top: 7vh;
    width: 100%;
  }
  #shape {
    position: absolute;
    width: 46vw;
    height: 60vh;
    right: 0;
    top: 65vh;
  }
  #shape1 {
    background-color: #fe330a;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
  }
  #shape2 {
    background: linear-gradient(#fe320a, #f67913);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(20px);
  }

  #shape3 {
    background: linear-gradient(#fe320a, #f67913);
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(20px);
  }

  @keyframes anime1 {
    from {
      transform: translate(55%, -3%);
    }

    to {
      transform: translate(0%, 10%);
    }
  }

  @keyframes anime2 {
    from {
      transform: translate(-20%, 20%);
    }

    to {
      transform: translate(0%, 0%);
    }
  }
}
